## Make and index some data in python

Creating vectors, and a pandas DataFrame, some wlow-key indexing

In [1]:
import numpy as np
import pandas as pd

In [13]:
teddy = [1, 2, 8]
type(teddy)

khora = [10, 20, 1000]
type(khora)

teddy + khora

[1, 2, 8, 10, 20, 1000]

In [9]:
teddy_vec = np.array(teddy)
type(teddy_vec)

teddy_vec

array([1, 2, 8])

In [10]:
teddy[1]

2

In [12]:
teddy[1] = 5000
teddy

[1, 5000, 8]

In [15]:
yogi = (5, 6, 200)

yogi[1] = 100

TypeError: 'tuple' object does not support item assignment

In [24]:
waffle = [2.9, "a burrito", [0, 1, 15], True]

In [20]:
waffle

[2, 'a burrito', [0, 1, 15], True]

In [21]:
waffle[2]

[0, 1, 15]

In [25]:
type(waffle[0])

float

In [26]:
waffle[0] = "it's tuesday"

In [27]:
waffle

["it's tuesday", 'a burrito', [0, 1, 15], True]

In [28]:
cows = {'name': ["moo", "spots", "happy"], 'location': ["pasture", "prarie", "barn"]}

In [29]:
cows

{'name': ['moo', 'spots', 'happy'], 'location': ['pasture', 'prarie', 'barn']}

In [30]:
cows_df = pd.DataFrame(cows)

In [31]:
cows_df

    name location
0    moo  pasture
1  spots   prarie
2  happy     barn